body {
  background-color: antiquewhite;
  color: black;
}

.header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.add-task,
.update-button,
.delete-button,
.log-out-button {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.log-out-button {
  background-color: red;
  margin-left: 175px;
  margin-bottom: 10px;
}

.update-button, .delete-button {
  margin-right: 5px;
}

.input-task {
  color: black;
  border-radius: 5px;
}
